@charset "UTF-8";



body{
    background-color: azure;
    text-align:justify ;
}
a.externo::after{
    content: '\1F517';
}

header {
    background-image: linear-gradient( azure, darkgreen);
    text-align: center;   
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.897);
    padding-top: 20px;
}

header h1 {
    color: white;
}
header p {
    color: azure;
}

main {
    background-color: white;
    margin: auto;
    min-width: 250px;
    max-width: 1000;
    padding: 20px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.473);
    border-radius: 10px;
        
}

main  img{
        width: 100%;
        border-radius: 10px;      
}

main iframe {
    width: 70%;
    height: 50%;
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

main a:hover {
    background-color: darkgreen;
    border-radius: 5px;
    color: white;
}

nav {
    text-align: right;
    padding: 10px;
}
nav > a {
    margin-right: 10px; 
    transition-duration: 1s;   
}
nav a:hover {
    background-color: aqua;
    border-radius: 5px;
    
}

h1 {
    font-family:Arial, Verdana, Geneva, Tahoma, sans-serif Helvetica, sans-serif ;
    color: darkgreen;
    text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.397);
    
    margin: 1px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: darkolivegreen;
    background-color: white;
    box-shadow: 1px 1px 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.425);
    padding: 10px;
    margin: 10px;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkolivegreen;
    background-color: darkgreen;
    color: white;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.37);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 0px 3px 0px;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-indent: 20px;
    line-height: 1.5em;      
}

aside {
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.411);
}
aside ul {
    columns: 2;
    list-style-type: '  \2714   '  ;
}
    


footer > p {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: auto;
}

footer a {
    color: aliceblue;
}
footer a:hover {
    background-color: aqua;
    color: black;
}
